<%- include('../common/header') %>
  <%- include('../common/sidebar') %>


    <!-- BEGIN: Content-->
    <div class="app-content content ">

      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <section id="multiple-column-form">
            <div class="row justify-content-center">
              <div class="col-md-10 col-12 ">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title"> View contact us listing</h4>
                  </div>
                  <br>
                  <div class="card-body">
                    <form class="form form-vertical" id="add_validator" action="/updateSubscription" method="POST"
                      enctype="multipart/form-data">
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name">Name</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="name" class="form-control" name="name" value="<%=subsdetail.name%> ">
                          <input type="hidden" name="id" value="<%=subsdetail.id%>">
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="price">Price</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="price" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="10" name="price"
                            value="<%=subsdetail.price%> ">
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="tenure">Tenure</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="tenure" class="form-control" name="tenure"
                            value="<%=subsdetail.tenure%> ">
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="col-sm-9 offset-sm-5">
                          <button type="submit"
                            class="btn btn-primary waves-effect waves-float waves-light">Update</button>
                          <!-- <a href="/subscriptionList" class="btn btn-primary float-right" title="Edit Profile"> Back </a>   -->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <%- include('../common/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" 
    integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>

    <script>
      $(document).ready(function() {
        jQuery.validator.addMethod("noSpace", function(value, element) {
          return value == '' || value.trim().length != 0;
        }, "No space allowed");
    
        jQuery.validator.addMethod("validImage", function(value, element, param) {
          return this.optional(element) || /\.(jpe?g|gif|png)$/i.test(value);
        }, 'Only valid image files (JPEG, GIF, PNG) are allowed.');
      
    
        $('#add_validator').validate({
          rules: {
            name: {
              required: true,
              noSpace: true,
              maxlength: 50
            },
            price:{
              required: true,
              noSpace: true,
              maxlength: 10
            },
            tenure: {
              required: true,
              noSpace: true,
              // maxlength: 10
            },
          },
          errorElement: "div",
          errorClass: "jqval-error",
          errorPlacement: function(error, element) {
            error.insertAfter(element);
            error.slideDown(400);
            error.animate({
              opacity: 1
            }, {
              queue: false,
              duration: 700
            });
          },
          submitHandler: function(form) {
            var error = $(".assign_error_div").text();
            if (!error) {
              form.submit();
            }
          }
        });
      });
    </script>