<%- include('../common/header') %>
  <%- include('../common/sidebar') %>


    <!-- BEGIN: Content-->
    <div class="app-content content ">

      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <section id="multiple-column-form">
            <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title"> View Growth</h4>
                  </div>
                  <br>
                  <div class="card-body">
                    <form class="form form-vertical" id="" action="/contactUsList" method="POST"
                      enctype="multipart/form-data">
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name">User Name</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="name" class="form-control" name="name"
                            value="<%=growthView.userId.name%> " disabled>
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="email">Baby Name</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="price" class="form-control" name="price"
                            value="<%=growthView.babyId.baby_name%> " disabled>
                        </div>
                      </div>
                      <!-- <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name">Birthday</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="name" class="form-control" name="name"
                            value="<%=growthView.birthDate%> " disabled>
                        </div>
                      </div> -->
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name">Gender</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="gender" name="gender" value="<%= growthView.gender == 1 ? 'Boy' : 'Girl' %>" disabled>
                        </div>
                      </div>
                    
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name">Age</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="name" class="form-control" name="age" value=" <%
                          const birthday = new Date(growthView.babyId.birthday);
                          const currentDate = new Date();
                          const ageInMilliseconds = currentDate - birthday;
                        
                          const months = Math.floor(ageInMilliseconds % (365.25 * 24 * 60 * 60 * 1000) / (30.44 * 24 * 60 * 60 * 1000));
                          const weeks = Math.floor(ageInMilliseconds % (30.44 * 24 * 60 * 60 * 1000) / (7 * 24 * 60 * 60 * 1000));
                        
                          const displayAge = `${months} months, ${weeks} weeks`;
                        %><%= displayAge %>
                        "
                            disabled>
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="email">Height</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="price" class="form-control" name="price"
                            value="<%=growthView.height%> " disabled>
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="phone">Weight</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="tenure" class="form-control" name="tenure"
                            value="<%=growthView.weight%> " disabled>
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="phone">Head Size</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="tenure" class="form-control" name="tenure"
                            value="<%=growthView.headSize%> " disabled>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="col-sm-9 offset-sm-5">
                          <div class="btn btn-primary float-right" title="Edit Profile"> Back </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <%- include('../common/footer') %>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var backButton = document.querySelector('.btn.btn-primary.float-right');

          backButton.addEventListener('click', function (event) {
            event.preventDefault();

            window.history.back();
          });
        });
      </script>