<%- include('../common/header') %>
  <%- include('../common/sidebar') %>


    <!-- BEGIN: Content-->
    <div class="app-content content ">

      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <section id="multiple-column-form">
            <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">View user</h4>
                  </div>
                  <br>
                  <div class="card-body">
                    <form class="form form-vertical" id="" action="/" method="POST" enctype="multipart/form-data">
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name">Name</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="name" class="form-control" name="name" value="<%=userdetails.name%> "
                            disabled>
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="email">Email</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="email" class="form-control" name="email"
                            value="<%=userdetails.email%> " disabled>
                        </div>
                      </div>
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="phone">Phone</label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" id="phone" class="form-control" name="phone"
                            value="<%=userdetails.phone%> " disabled>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="col-sm-9 offset-sm-5">
                          <a href="/userList" class="btn btn-primary float-right" title="Edit Profile"> Back
                          </a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <%- include('../common/footer') %>