<%- include('../common/header') %>
  <%- include('../common/sidebar') %>

    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <section id="multiple-column-form">
            <div class="row">
              <div class="col-md-12 col-12 mx-auto">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">View user</h4>
                    <a onclick="history.back()" type="button" class="btn btn-primary float-right" title="Edit Profile">
                      Back
                    </a>
                  </div>
                  <div class="card-body" style="margin-top: 10px;" >
                    <form class="form form-horizontal">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="profile-widget-header text-center">
                            <img src="<%= userdetails?.image ? userdetails?.image : '/app-assets/demouser.jpeg' %>" class="img-thumbnail user_bigimg ms-md-0 mx-auto">
                          </div>
                        </div>
                        <div class="col-md-8" style="margin-top: 10px;">
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Name</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="name" value="<%=userdetails?.name%> "
                                disabled>
                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Email</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="email" class="form-control" name="email"
                                value="<%=userdetails?.email%> " disabled>
                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Phone</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="phone" class="form-control" name="phone"
                                value="<%=userdetails?.country_code%> <%=userdetails?.phone%> " disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                  <hr>
                     <!-- sub-user listing -->
                     <div class="card-header border-bottom">
                       <h4 class="card-title">Sub-user details</h4>
                      </div>
                  <div class="col-md-11 col-12 mx-auto">
                    <div class="card-DataTable table-responsive">
                      <table class="table table-hover-animation" style="color: rgb(65, 64, 64);" >
                        <thead>
                          <tr>
                            <th>S NO.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Image</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%findSubUser.forEach(function(data,i) {%>
                            <tr>
                              <td>
                                <%=1+i%>
                              </td>
                              <td>
                                <%=data?.name ? data.name : "No sub-user found"%>
                              </td>
                              <td>
                                <%=data?.email ? data.email : ""%>
                              </td>
                              <td>
                                <%=data?.phone ? data.phone : ""%>
                              </td>
                              <td>
                                <img src="<%=data?.image%>" width="45px" height="40px">
                              </td>
                            </tr>
                            <%} )%>
                        </tbody>
                      </table>
                    </div>
                  </div>

                    <hr>
                      <!-- Baby listing -->
                    <div class="card-header border-bottom">
                      <h4 class="card-title">Baby details</h4>
                    </div>
                    <div class="col-md-11 col-12 mx-auto">
                    <div class="card-DataTable table-responsive">
                      <table class="table table-hover-animation" style="color: rgb(65, 64, 64);" >
                        <thead>
                          <tr>
                            <th>S NO.</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Birthday</th>
                            <th>Image</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%findbaby.forEach(function(data,i) {%>
                            <tr>
                              <td>
                                <%=1+i%>
                              </td>
                              <td>
                                <%=data?.baby_name ? data.baby_name : "No baby found"%>
                              </td>
                              <td>
                                <% if (data.gender == 0) { %>
                                  Female
                                <% } else if (data?.gender == 1) { %>
                                  Male
                                <% } else if (data?.gender == 2) { %>
                                  Not specified
                                <% } %>
                              </td>
                              <td>
                                <%= new Date(data.birthday).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }) %>
                              </td>
                              <td>
                                <img src="<%=data?.image%>" width="45px" height="40px">
                              </td>
                              <td>
                                <a href="/viewBaby/<%=data._id%>" class="btn btn-sm bg-light-primary">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                  <circle cx="12" cy="12" r="3"></circle></svg></i></a>
                              </td>
                            </tr>
                            <%} )%>
                        </tbody>
                      </table>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <%- include('../common/footer') %>
    
    <script>
      $(document).ready(function () {
        $('.table').DataTable(); // Initialize DataTable for all tables with the 'table' class
      });
    </script>