<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Order Data</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Users</h1>
    <table class="table table-hover-animation" style="color: rgb(65, 64, 64);" >
                <thead>
                  <tr>
                    <th>S NO.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Image</th>
                    <th>Status</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <%userlist.forEach(function(data,i) {%>
                    <tr>
                      <td>
                        <%=1+i%>
                      </td>
                      <td>
                        <%=data?.name%>
                      </td>
                      <td>
                        <%=data?.email%>
                      </td>
                      <td>
                        <%=data?.country_code%> <%=data?.phone%>
                      </td>
                      <td>
                          <img src="<%= data?.image ? data?.image : '../app-assets/images/demouser.jpeg' %>" width="45px" height="40px" alt="image">
                      </td>
                      
                      <td>
                       <%=data?.status == 1 ? 'Active' : 'Inactive'%>
                      </td>
                    </tr>
                  <%} )%>
                </tbody>
              </table>
</body>
</html>