<%- include('../common/header') %>
<%- include('../common/sidebar') %>


<!-- BEGIN: Content-->
<div class="app-content content ">

  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section id="multiple-column-form">
        <div class="row">
          <div class="col-md-12 col-12">
            <div class="card-body">
              <section id="basic-horizontal-layouts">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-12 ">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title"> View Goal</h4>
                      </div>
                      <br>
                      <div class="card-body">

                        <form class="form form-vertical" id="" action="/contactUsList" method="POST" enctype="multipart/form-data">
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="name">Name</label>
                            </div>
                            <div class="col-sm-10 goalImg">
                              <img src="<%=goalView.image%>" height="200px" width="700px"> 

                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="name">Name</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="name" value="<%=goalView.name%> " disabled>
                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="name">Title</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="title" value="<%=goalView.title%> " disabled>
                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="name">Weeksdays</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="weeksdays" value="<%=goalView.weeksdays%> " disabled>
                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="name">description</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="description" value="<%=goalView.description%> " disabled>
                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="email">Date</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="price" class="form-control" name="date" value="<%=goalView.date%> " disabled>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="col-sm-9 offset-sm-5">
                              <a href="/Goal_List" class="btn btn-primary float-right" title="Edit Profile"> Back </a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<%- include('../common/footer') %>