<%- include('../common/header') %>
<%- include('../common/sidebar') %>

<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section id="basic-horizontal-layouts">
        <div class="row justify-content-center">
          <div class="col-md-10 col-12 ">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Add Sub-Admin</h4>
              </div>
              <div class="card-body">
                <form class="form form-vertical" id="add_validator" action="/create_sub_admin" method="POST" enctype="multipart/form-data">
                  <div class="row" style="margin-top: 12px;" >
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="name">Name</label>
                      </div>
                      <div class="col-sm-8">
                        <input type="text" id="name" class="form-control" name="name" required>
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="name">Email</label>
                      </div>
                      <div class="col-sm-8">
                        <input type="email" id="email" class="form-control" name="email">
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="password">Password</label>
                      </div>
                      <div class="col-sm-8 position-relative">
                        <input id="password" type="password" class="form-control pwstrength pr-5" 
                              style="padding-right: 45px;" 
                              data-indicator="pwindicator" name="password" placeholder="Password" required minlength="6">
                          
                        <!-- Eye icon -->
                        <span class="position-absolute" style="top: 50%; right: 30px; transform: translateY(-50%); cursor: pointer;" id="togglePassword">
                          <i data-feather="eye"></i>
                        </span>
                    
                        <div id="pwindicator" class="pwindicator"></div>
                      </div>
                    </div>
                    
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="name">Image</label>
                      </div>
                      <div class="col-sm-8">
                        <input type="file" id="image" class="form-control" name="image">
                      </div>
                    </div>

                    <div class="mb-1 row">
                      <div class="form-group col-sm-2">
                        <label for="users" class="col-form-label new_lable">Users</label>
                      </div>
                      <div class="col-sm-8">
                        <select id="users" class="form-control js-example-basic-multiple" name="usersId" multiple="multiple">
                          <% for(let i in getUser){ %>
                            <option value="<%= getUser[i]._id %>"><%= getUser[i].name %> <%= getUser[i].sur_name %></option>
                          <%  } %>
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <div class="custom-control custom-checkbox col-2 mt-1 d-flex align-items-center">
                          <input type="checkbox" class="custom-control-input" id="allUser">
                          <label class="custom-control-label" for="allUser"> All</label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="readCheckbox">Activity</label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="restrictedRadio" name="activity_permission" value="1">
                          <label class="form-check-label" for="restrictedRadio">Restricted</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="readOnlyRadio" name="activity_permission" value="2">
                          <label class="form-check-label" for="readOnlyRadio">Read Only</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="fullAccessRadio" name="activity_permission" value="3">
                          <label class="form-check-label" for="fullAccessRadio">Full Access</label>
                        </div>
                      </div>
                    </div>

                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="readCheckbox">Goal</label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="restrictedRadio" name="goal_permission" value="1">
                          <label class="form-check-label" for="restrictedRadio">Restricted</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="readOnlyRadio" name="goal_permission" value="2">
                          <label class="form-check-label" for="readOnlyRadio">Read Only</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="fullAccessRadio" name="goal_permission" value="3">
                          <label class="form-check-label" for="fullAccessRadio">Full Access</label>
                        </div>
                      </div>
                    </div>

                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="readCheckbox">Contact us</label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="restrictedRadio" name="contactus_permission" value="1">
                          <label class="form-check-label" for="restrictedRadio">Restricted</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="readOnlyRadio" name="contactus_permission" value="2">
                          <label class="form-check-label" for="readOnlyRadio">Read Only</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="fullAccessRadio" name="contactus_permission" value="3">
                          <label class="form-check-label" for="fullAccessRadio">Full Access</label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="readCheckbox"> CMS </label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="restrictedRadio" name="CMS_permission" value="1">
                          <label class="form-check-label" for="restrictedRadio">Restricted</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="readOnlyRadio" name="CMS_permission" value="2">
                          <label class="form-check-label" for="readOnlyRadio">Read Only</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="fullAccessRadio" name="CMS_permission" value="3">
                          <label class="form-check-label" for="fullAccessRadio">Full Access</label>
                        </div>
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="readCheckbox"> Change log </label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="restrictedRadio" name="changelog_permission" value="1">
                          <label class="form-check-label" for="restrictedRadio">Restricted</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="readOnlyRadio" name="changelog_permission" value="2">
                          <label class="form-check-label" for="readOnlyRadio">Read Only</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="fullAccessRadio" name="changelog_permission" value="3">
                          <label class="form-check-label" for="fullAccessRadio">Full Access</label>
                        </div>
                      </div>
                    </div>
                    <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="readCheckbox">Push Notification</label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="restrictedRadio" name="push_notification_permission" value="1">
                          <label class="form-check-label" for="restrictedRadio">Restricted</label>
                        </div>
                        <!-- <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="readOnlyRadio" name="push_notification_permission" value="2">
                          <label class="form-check-label" for="readOnlyRadio">Read Only</label>
                        </div> -->
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="fullAccessRadio" name="push_notification_permission" value="3">
                          <label class="form-check-label" for="fullAccessRadio">Full Access</label>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="mb-1 row">
                      <div class="col-sm-2">
                        <label class="col-form-label new_lable" for="readCheckbox">Chat</label>
                      </div>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="restrictedRadio" name="ChataccessLevel" value="1">
                          <label class="form-check-label" for="restrictedRadio">Restricted</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input type="radio" class="form-check-input" id="fullAccessRadio" name="ChataccessLevel" value="2">
                          <label class="form-check-label" for="fullAccessRadio">Full Access</label>
                        </div>
                      </div>
                    </div> -->
                  
                    <div class="col-sm-9 offset-sm-5">
                      <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<%- include('../common/footer') %>


<script>
$(window).on('load', function() {
  if (feather) {
    feather.replace({
      width: 14,
      height: 14
    });
  }
})
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2({
      placeholder: 'Select an option'
    });

    $("#allUser").click(function() {
      if ($("#allUser").is(':checked')) {
        $("#users > option").prop("selected", true);
        $("#users").trigger("change");
      } else {
        $("#users > option").prop("selected", false);
        var selected = $("#user_id").val();
        if (!selected || selected.length == 0) {
          $("#users").val([]).trigger("change");
        } else {
          $("#users").trigger("change");
        }
      }
    });

  });
</script>

<script>
$(document).ready(function() {
  // Initialize Select2
  $('.js-example-basic-multiple').select2({
    placeholder: 'Select an option'
  });

  // Handle "All" checkbox for users
  $("#allUser").click(function() {
    if ($("#allUser").is(':checked')) {
      $("#users > option").prop("selected", true);
      $("#users").trigger("change");
    } else {
      $("#users > option").prop("selected", false);
      var selected = $("#user_id").val();
      if (!selected || selected.length == 0) {
        $("#users").val([]).trigger("change");
      } else {
        $("#users").trigger("change");
      }
    }
  });

  // Add custom validation methods
  jQuery.validator.addMethod("noSpace", function(value, element) {
    return value == '' || value.trim().length != 0;
  }, "No space allowed");

  jQuery.validator.addMethod("validImage", function(value, element, param) {
    return this.optional(element) || /\.(jpe?g|gif|png)$/i.test(value);
  }, 'Only valid image files (JPEG, GIF, PNG) are allowed.');

  // Add custom validation method for special characters
  jQuery.validator.addMethod("noSpecialChars", function(value, element) {
    return this.optional(element) || /^[a-zA-Z0-9 ]+$/.test(value);
  }, "Special characters are not allowed");

  // Form validation
  $('#add_validator').validate({
    rules: {
      name: {
        required: true,
        noSpace: true,
        maxlength: 40,
        onlyLetters: true
      },
      email: {
        required: true,
        noSpace: true,
        maxlength: 40
      },
       password: {
      required: true,
      minlength: 6
    },
      country_code: {
        required: true,
        noSpace: true,
        maxlength: 3
      },
      phone: {
        required: true,
        noSpace: true,
        maxlength: 10
      },
      image: {
        required: true,
        validImage: true
      }
    },
    errorElement: "div",
    errorClass: "jqval-error",
    errorPlacement: function(error, element) {
      error.insertAfter(element);
      error.slideDown(400);
      error.animate({
        opacity: 1
      }, {
        queue: false,
        duration: 700
      });
    },
    submitHandler: function(form) {
      var error = $(".assign_error_div").text();
      if (!error) {
        form.submit();
      }
    }
  });
});

// Remove the separate event listener as we've integrated special character validation into the jQuery Validate rules
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    feather.replace(); // Initialize Feather icons

    const toggle = document.getElementById('togglePassword');
    const password = document.getElementById('password');
    let isVisible = false;

    toggle.addEventListener('click', function () {
      isVisible = !isVisible;
      password.type = isVisible ? 'text' : 'password';
      this.innerHTML = isVisible ? feather.icons['eye-off'].toSvg() : feather.icons['eye'].toSvg();
    });
  });
</script>

<style>
  /* Match height and padding of regular inputs */
  .select2-container--default .select2-selection--multiple {
    min-height: 38px !important; /* Same as Bootstrap input */
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    display: flex;
    align-items: center;
  }

  /* Remove unwanted spacing inside selected tags */
  .select2-selection__rendered {
    padding: 0 8px !important;
    margin-top: 0 !important;
  }

  .select2-search__field {
    margin-top: 0 !important;
  }
</style>


<script>
  $(document).ready(function() {
  $('#users').select2({
    placeholder: "Select Users"
  });
});

</script>

<script>
document.getElementById("add_validator").addEventListener("submit", function (e) {
  const nameInput = document.getElementById("name").value.trim();

  // Allow only alphabets and spaces
  const validNamePattern = /^[a-zA-Z ]+$/;

  if (!validNamePattern.test(nameInput)) {
    e.preventDefault(); // stop form submission
    document.getElementById("name").setCustomValidity("Only alphabets and spaces are allowed.");
    document.getElementById("name").reportValidity();
  } else {
    document.getElementById("name").setCustomValidity(""); // reset validity
  }
});

</script>

<script>
  jQuery.validator.addMethod("onlyLetters", function(value, element) {
  return this.optional(element) || /^[a-zA-Z ]+$/.test(value);
}, "No numeric value or special characters allowed");

</script>

